<footer>
    <div class="f-info">
        <div class="f-info-socials">
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://swastiktripathi.onrender.com/"> <i class="fa-brands fa-facebook" ></i></a>
                <a href="https://www.linkedin.com/in/swastik-tripathi-ii/">  <i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://api.whatsapp.com/send?text=Check%20out%20this%20website%20https://swastiktripathi.onrender.com/">  <i class="fa-brands fa-whatsapp"></i></a>
                        <a href="https://twitter.com/intent/tweet?url=https://swastiktripathi.onrender.com/&text=Check%20out%20this%20awesome%20website!">  <i class="fa-brands fa-x-twitter"></i></a>
                        <a href="https://github.com/SWASTIK9105/">  <i class="fa-brands fa-github"></i></a>
         </div>
        <div class="f-info-brand">&copy;SWASTIK_TRIPATHI</div>
<div class="f-info-links">
    <a href="/privacy">Privacy   </a>   <a href="/terms">Terms</a>
</div>    </div>
</footer>
